---
interface Props {
	separador: string;
}

const { separador } = Astro.props;
---



<div class="my-10 text-black dark:text-white sm:pl-32 md:pl-42 lg:pl-60 xl:pl-72 2xl:pl-80 px-auto text-3xl font-bold ">
    <p class=" pl-1">{separador}</p>
    <div class="w-6/12 max-w-[390px]  mt-1 h-3 bg-[#0100D3]"></div>
</div>