---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Galeria from '../components/Galeria.astro';
import Accesos from '../components/Accesos.astro';

import Contacto from '../components/ContactoSeccion.astro';
import Footer from '../components/FooterPrincipal.astro';
import Map from '../components/Map.astro';
import MyComponentSvelte from '../components/MyComponentSvelte.svelte';
import Prueba from '../components/Prueba.astro';
import Procesos from '../components/ProcesosDos.astro';
import Separador from '../components/separadores/Separador.astro';

---

<Layout title="Home">
	
	<main>

		<Header />
		<Separador separador="Accesos" />
		<Accesos />
		<Separador separador="Galeria" />
		<Galeria />
		<Separador separador="Procesos" />
		<Procesos />
		<Separador separador="Contacto" />
		<Contacto />
		<Separador separador="Mapa" />
		<Map />
		<Footer />

	</main>
	 
	  
</Layout>
