---
import Formulario from './Formulario.astro';
import Tarjeta from './TarjetaContacto.astro';
---

<section>
    <slot>
        <div class="md:px-40  grid md:grid-cols-2 sm:grid-cols-1  place-content-around place-items-center  gap-10  min-h-96 bg-[#1E1E1E] ">
            <Tarjeta />
            <Formulario />
        </div>
    </slot>
</section>
