
	<div class="flex justify-around w-full bg-[#0100D3] text-white shadow-md h-12 sticky top-0 z-50" >
		<div class="flex justify-items-center gap-4 items-center">
		  <a href="mailto:example@example.com" class="text-x font-bold">
			<i class="fas fa-envelope"></i>
			example@example.com
		  </a>
		  <a href="tel:+525512345678" class="text-x font-bold">
			<i class="fas fa-phone"></i>
			+52 55 1234 5678
		  </a>
		</div>
		<div class="   absolute py-2 px-1 md:right-7 sm:right-2 lg:right-10 right-0 ">
			<button class="text-black py-1 px-2 bg-[#D9D9D9] rounded-md">Cotiza</button>
		</div>
	  </div>

  