<section class="h-auto m-9">  
    <div class="grid place-content-center rounded-s-3xl	">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29890.67541516286!2d-99.92014935021186!3d20.533493267816716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d39c03771045ab%3A0x3fc392933ab17fff!2sTequisquiapan%2C%20Qro.!5e0!3m2!1ses-419!2smx!4v1702619943232!5m2!1ses-419!2smx" width="800" height="400" style="border:0    ;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </div>

</section>

