---

---
<nav class="flex justify-between items-center w-full h-min-30 md:h-30  py-4 bg-gray-200 shadow-md sticky top-0 z-50">
  <!-- Logo -->
  <div class=" flex justify-center items-center lg:ml-60 md:ml-28 sm:ml-10">
    
    <svg class="w-32 h-12" width="150" height="60" viewBox="0 0 150 60" fill="none" xmlns="">
      <path d="M118.932 58.4016H50.9288V59.7921H118.932V58.4016Z" fill="#0100D3"/>
      <path d="M76.2306 48.1256C74.8974 48.1277 73.6195 48.6578 72.6776 49.5996C71.7358 50.5414 71.207 51.8178 71.2074 53.1485C71.2074 54.4802 71.7374 55.7574 72.6809 56.699C73.6244 57.6407 74.9041 58.1698 76.2384 58.1698C77.5727 58.1698 78.8523 57.6407 79.7958 56.699C80.7393 55.7574 81.2693 54.4802 81.2693 53.1485C81.2695 52.4883 81.1393 51.8345 80.8861 51.2246C80.6328 50.6147 80.2616 50.0607 79.7936 49.5941C79.3256 49.1276 78.77 48.7578 78.1586 48.5058C77.5472 48.2538 76.8921 48.1246 76.2306 48.1256ZM76.2306 55.1662C75.6435 55.1662 75.0805 54.9335 74.6654 54.5191C74.2502 54.1048 74.017 53.5428 74.017 52.9569C74.017 52.3709 74.2502 51.809 74.6654 51.3946C75.0805 50.9803 75.6435 50.7475 76.2306 50.7475C76.8177 50.7475 77.3807 50.9803 77.7959 51.3946C78.211 51.809 78.4442 52.3709 78.4442 52.9569C78.4442 53.5428 78.211 54.1048 77.7959 54.5191C77.3807 54.9335 76.8177 55.1662 76.2306 55.1662Z" fill="#0100D3"/>
      <path d="M87.2833 48.1364C86.8607 48.1364 86.209 48.1256 86.209 48.1256V51.0472H87.2245C88.4474 51.0472 89.1006 52.087 89.1006 53.306C89.1006 54.5251 88.5046 55.2358 87.2817 55.2358H86.209L86.2229 58.1713H87.3065C87.9657 58.1721 88.6186 58.043 89.2277 57.7914C89.8367 57.5398 90.3901 57.1707 90.8559 56.7052C91.3217 56.2397 91.6909 55.687 91.9422 55.0787C92.1935 54.4705 92.3221 53.8187 92.3204 53.1608C92.3208 52.5006 92.1908 51.8468 91.9378 51.2369C91.6847 50.6269 91.3137 50.0727 90.8458 49.606C90.3779 49.1394 89.8225 48.7693 89.2112 48.5172C88.5999 48.265 87.9447 48.1356 87.2833 48.1364Z" fill="#0100D3"/>
      <path d="M67.3715 53.1485C67.321 53.6975 67.0667 54.2078 66.6586 54.5794C66.2505 54.951 65.7181 55.157 65.1657 55.157C64.5786 55.157 64.0155 54.9242 63.6004 54.5099C63.1853 54.0955 62.952 53.5336 62.952 52.9476C62.952 52.3616 63.1853 51.7997 63.6004 51.3853C64.0155 50.971 64.5786 50.7382 65.1657 50.7382C65.6619 50.7382 66.1437 50.9047 66.5337 51.211C66.9237 51.5173 67.1991 51.9455 67.3158 52.4269C67.9211 52.3837 69.3917 52.2431 70.1022 52.1735C69.8762 51.0336 69.2612 50.007 68.3618 49.2689C67.4625 48.5308 66.3346 48.1267 65.1703 48.1256C63.836 48.1256 62.5564 48.6546 61.6129 49.5963C60.6694 50.538 60.1393 51.8152 60.1393 53.1469C60.1393 54.4786 60.6694 55.7558 61.6129 56.6975C62.5564 57.6392 63.836 58.1682 65.1703 58.1682C66.4982 58.1682 67.7722 57.6443 68.7147 56.7106C69.6571 55.777 70.1915 54.5093 70.2013 53.184L67.3715 53.1485Z" fill="#0100D3"/>
      <path d="M116.099 53.1486C116.049 53.6976 115.795 54.2081 115.387 54.5798C114.98 54.9515 114.447 55.1574 113.895 55.1571C113.308 55.1571 112.745 54.9243 112.329 54.51C111.914 54.0956 111.681 53.5337 111.681 52.9477C111.681 52.3618 111.914 51.7998 112.329 51.3855C112.745 50.9711 113.308 50.7383 113.895 50.7383C114.391 50.7386 114.873 50.9052 115.262 51.2114C115.652 51.5177 115.928 51.9458 116.045 52.427C116.65 52.3838 118.121 52.2432 118.831 52.1737C118.607 51.0309 117.992 50.0015 117.091 49.2614C116.19 48.5213 115.06 48.1166 113.893 48.1165C113.232 48.1175 112.578 48.2485 111.968 48.5019C111.358 48.7554 110.803 49.1264 110.337 49.5937C109.87 50.061 109.501 50.6155 109.249 51.2255C108.997 51.8354 108.869 52.4889 108.87 53.1486C108.87 54.4803 109.4 55.7575 110.343 56.6992C111.287 57.6408 112.567 58.1699 113.901 58.1699C115.229 58.1699 116.503 57.646 117.445 56.7123C118.388 55.7786 118.922 54.5109 118.932 53.1856L116.099 53.1486Z" fill="#0100D3"/>
      <path d="M93.5898 58.1682H96.5031V48.1256L93.5898 48.1859V58.1682Z" fill="#0100D3"/>
      <path d="M104.525 58.1682H107.438V48.1256L104.525 48.1859V58.1682Z" fill="#0100D3"/>
      <path d="M85.8808 48.1256H82.966V58.1682H85.8808V48.1256Z" fill="#0100D3"/>
      <path d="M59.4195 51.5741C59.4195 49.6459 57.6672 48.1256 55.7632 48.1256H51.8839V58.1265H54.7988V50.8309C54.7988 50.8309 56.3081 50.6115 56.3081 51.6034C56.3081 52.5953 55.1935 52.362 55.1935 52.362V55.0519L56.661 58.1419H59.4195L57.6223 54.6533C58.1711 54.3481 58.6275 53.9013 58.9437 53.3595C59.2599 52.8177 59.4242 52.201 59.4195 51.5741Z" fill="#0100D3"/>
      <path d="M98.1734 51.0813C98.1734 52.9075 99.3142 53.6723 99.3142 54.7754C99.3142 55.3316 98.2306 55.2389 97.7662 55.2389V58.1744C97.7662 58.1744 102.782 58.7013 102.782 55.2389C102.782 52.7422 101.441 53.4606 101.441 51.8739C101.441 51.3609 101.743 51.0334 103.13 51.0334V48.1288C100.929 48.1257 98.1734 47.8259 98.1734 51.0813Z" fill="#0100D3"/>
      <path d="M99.0712 2.93553C92.8793 1.54501 83.3421 0 74.5356 0C12.5387 0 0 59.792 0 59.792H18.2043C20.3096 53.4575 29.8762 41.8699 29.8762 41.8699C27.5139 47.6946 25.9629 53.6846 24.9845 59.792H44.9536C52.0635 41.5037 67.9644 25.9392 75.4814 19.3204C105.512 21.6379 119.573 40.7853 121.053 54.8557C123.994 55.3192 150 59.7998 150 59.7998C143.808 44.3419 130.65 0.772507 99.0712 2.93553ZM43.0341 31.9818C40.7601 29.3753 37.4211 28.1671 34.3653 28.7373C40.6238 23.0056 48.0785 18.7314 56.192 16.2226C50.6493 20.395 46.1465 25.7881 43.0341 31.9818Z" fill="#0100D3"/>
      <path d="M75.387 2.00848C17.9567 2.00848 2.47681 57.4745 2.47681 57.4745H16.7183C19.0403 50.5219 29.257 38.3163 35.8514 32.4453C31.7647 39.8613 27.678 57.4745 27.678 57.4745H43.1889C50.774 41.8698 72.1363 11.8966 95.0465 4.48051C90.7121 3.05909 80.1858 2.00848 75.387 2.00848ZM43.1889 34.4538C40.1595 30.4197 35.9768 29.5669 31.1146 30.5912C39.6533 20.7588 50.9412 16.0681 62.3839 13.1326C54.2849 18.3934 47.0589 24.5997 43.1889 34.4538Z" fill="#A0A0A0"/>
      <path d="M143.808 57.4745L122.91 53.921C117.957 29.8188 95.0094 19.6109 77.3623 17.848C77.3623 17.848 88.3902 8.34308 102.786 8.34308C129.721 10.1971 143.808 57.4745 143.808 57.4745Z" fill="#A6A6A6"/>
      <path d="M84.3653 12.8236C100.619 17.4586 123.529 28.5394 127.709 54.8479L130.186 55.1569C128.019 41.4063 119.659 20.8576 86.842 11.5443L84.3653 12.8236Z" fill="#0100D3"/>
      <path d="M93.6533 8.65205C109.907 13.2871 128.019 26.1107 135.759 56.2385L138.235 56.5475C138.235 56.5475 130.186 17.3041 97.3685 7.87955L93.6533 8.65205Z" fill="#0100D3"/>
    </svg>
      
  </div>
  <!-- Desktop menu -->
  <div class="flex justify-center items-center hidden md:flex  lg:-ml-60 md:-ml-28 sm:-ml-10">
    <a href="/" class="px-2 text-lg font-bold hover:text-gray-700">Inicio</a>
    <a href="/about" class="px-2 text-lg font-bold hover:text-gray-700">Productos</a>
    <a href="/productos" class="px-2 text-lg font-bold hover:text-gray-700">Conocenos</a>
    <a href="/contacto" class="px-2 text-lg font-bold hover:text-gray-700">Nosotros</a>
  </div>
  <!-- otros -->
  <div class="flex hidden md:flex flex-col items-center ">
    <a href="#" class="px-2 text-lg font-bold hover:text-gray-700">Idioma</a>
    <a href="#" class="px-2 text-lg font-bold hover:text-gray-700">Modo Oscuro</a>
  </div>
  <!-- Mobile menu button -->
  <button id="menu-toggle" class="absolute md:hidden right-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
  <!-- Mobile menu -->
  <div id="mobile-menu" class="gap-8 hidden md:hidden absolute top-0 right-0 bottom-0 h-full grid justify-center items-center rounded-lg ">
    <a href="/" class="text-lg font-bold py-2 block hover:text-gray-700">Inicio</a>
    <a href="/about" class="px-2 text-lg font-bold hover:text-gray-700">Cotiza</a>
    <a href="/productos" class="px-2 text-lg font-bold hover:text-gray-700">Conocenos</a>
    <a href="/contacto" class="px-2 text-lg font-bold hover:text-gray-700">Contacto</a>
    <a href="#" class="text-lg font-bold py-2 block hover:text-gray-700">Idioma</a>
    <a href="#" class="text-lg font-bold py-2 block hover:text-gray-700">Modo oscuro</a>
    <div class="py-5 absolute top-0 right-5">
      <button id="close-menu" class="text-lg font-bold hover:text-gray-700">X</button>
    </div>
  </div>
</nav>



<script>
const toggleMenu = document.getElementById('menu-toggle');
const mobileMenu = document.getElementById('mobile-menu');
const closeMenu = document.getElementById('close-menu');

if (toggleMenu && mobileMenu && closeMenu) {
  toggleMenu.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
    mobileMenu.style.width = `${window.innerWidth * 0.6}px`;
    mobileMenu.style.right = '0px';
    mobileMenu.style.backgroundColor = '#0100D3'; // Asegurarse de que el fondo se mantiene
  });

  closeMenu.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
}
</script>

<style>
  #mobile-menu {
    text-color: white;
    transition: all 0.5s ease;
    height: fit-content;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 5px;
    margin-right: 5px;
  }
</style>